In [1]:
# general 
import datetime
import os

# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Importing and Cleaning Data

In [2]:
def read_data(data_file):
    df = pd.read_csv(data_file, low_memory=False, header=None)
    df.columns = ["Timestamp", "LineID", "JourneyPatternID", "TimeFrame", 
                  "VehicleJourneyID", "Lon", "Lat", "VehicleID", "StopID", 
                  "AtStop", "HumanTime", "Day", "Hour", "JourneyGroup", "Runtime"]
        
    return df

In [3]:
def read_weather(weather_file):
    weather = pd.read_csv(weather_file, low_memory=False)
    
    return weather

In [4]:
def clean_weather(weather):
    weather['datetime'] = pd.to_datetime(weather['date'])
    
    weather['Hour'] = weather['datetime'].dt.hour
    weather['Date'] = weather['datetime'].dt.date
    weather = weather.drop(['datetime'], axis=1)
    
    weather = weather[['Date', 'Hour', 'rain']]
    
    # replacing empty cells with 0, converting to float
    weather['rain'] = pd.to_numeric(weather['rain'], errors='coerce')
    weather['rain'].fillna(0, inplace=True)
    
    # renaming rain to Rain
    weather = weather.rename(columns={'rain': 'Rain'})

    # converting rain to boolean
    weather['Rain'] = weather['Rain'].apply(lambda x: 1 if (x >= 1) else 0)
    
    return weather

In [5]:
def clean_df(df):
    df['Date'] = pd.to_datetime(df['Timestamp'], unit='us')
    df['Date'] = df['Date'].dt.date
    
    return df

In [6]:
def merge_save(df, weather, write_file):
    
    # Merging rain info with bus data
    new_df = pd.merge(df, weather, how='left' , on=['Date','Hour'])
    
    if new_df.shape[0] != df.shape[0]:
        raise ValueError("Imperfect mapping")
    
    new_df.to_csv(write_file)

In [7]:
def main(read_directory, write_directory, weather_file):
    
    print("Cleaning weather data...")
    weather = read_weather(weather_file)
    weather = clean_weather(weather)
    
    for read_file in os.listdir(read_directory):
        if read_file.endswith(".csv"):

            data_file = read_directory + "/" + read_file
            print(data_file)
            
            df = read_data(data_file)
            df = clean_df(df)
            
            try:
                merge_save(df, weather, write_directory + "/" + read_file)
            except ValueError as e:
                print(e)     

            print("Finished", read_file)
            print()
    print("Finished main!")

In [8]:
read_directory = "bus_data/clean_location_data"
write_directory = "bus_data/clean_data_final"
weather_file = "bus_data/hourly_weather_data.csv"

main(read_directory, write_directory, weather_file)

Cleaning weather data...
bus_data/clean_location_data/1.csv
Finished 1.csv

bus_data/clean_location_data/102.csv
Finished 102.csv

bus_data/clean_location_data/104.csv
Finished 104.csv

bus_data/clean_location_data/11.csv
Finished 11.csv

bus_data/clean_location_data/111.csv
Finished 111.csv

bus_data/clean_location_data/114.csv
Finished 114.csv

bus_data/clean_location_data/116.csv
Finished 116.csv

bus_data/clean_location_data/118.csv
Finished 118.csv

bus_data/clean_location_data/120.csv
Finished 120.csv

bus_data/clean_location_data/122.csv
Finished 122.csv

bus_data/clean_location_data/123.csv
Finished 123.csv

bus_data/clean_location_data/13.csv
Finished 13.csv

bus_data/clean_location_data/130.csv
Finished 130.csv

bus_data/clean_location_data/14.csv
Finished 14.csv

bus_data/clean_location_data/140.csv
Finished 140.csv

bus_data/clean_location_data/142.csv
Finished 142.csv

bus_data/clean_location_data/145.csv
Finished 145.csv

bus_data/clean_location_data/14C.csv
Finished 14C.csv

bus_data/clean_location_data/15.csv
Finished 15.csv

bus_data/clean_location_data/150.csv
Finished 150.csv

bus_data/clean_location_data/151.csv
Finished 151.csv

bus_data/clean_location_data/15A.csv
Finished 15A.csv

bus_data/clean_location_data/15B.csv
Finished 15B.csv

bus_data/clean_location_data/16.csv
Finished 16.csv

bus_data/clean_location_data/161.csv
Finished 161.csv

bus_data/clean_location_data/16C.csv
Finished 16C.csv

bus_data/clean_location_data/17.csv
Finished 17.csv

bus_data/clean_location_data/17A.csv
Finished 17A.csv

bus_data/clean_location_data/18.csv
Finished 18.csv

bus_data/clean_location_data/184.csv
Finished 184.csv

bus_data/clean_location_data/185.csv
Finished 185.csv

bus_data/clean_location_data/220.csv
Finished 220.csv

bus_data/clean_location_data/236.csv
Finished 236.csv

bus_data/clean_location_data/238.csv
Finished 238.csv

bus_data/clean_location_data/239.csv
Finished 239.csv

bus_data/clean_location_data/25.csv
Finished 25.csv

bus_data/clean_location_data/25A.csv
Finished 25A.csv

bus_data/clean_location_data/25B.csv
Finished 25B.csv

bus_data/clean_location_data/25X.csv
Finished 25X.csv

bus_data/clean_location_data/26.csv
Finished 26.csv

bus_data/clean_location_data/27.csv
Finished 27.csv

bus_data/clean_location_data/270.csv
Finished 270.csv

bus_data/clean_location_data/27A.csv
Finished 27A.csv

bus_data/clean_location_data/27B.csv
Finished 27B.csv

bus_data/clean_location_data/27X.csv
Finished 27X.csv

bus_data/clean_location_data/29A.csv
Finished 29A.csv

bus_data/clean_location_data/31.csv
Finished 31.csv

bus_data/clean_location_data/31A.csv
Finished 31A.csv

bus_data/clean_location_data/31B.csv
Finished 31B.csv

bus_data/clean_location_data/32.csv
Finished 32.csv

bus_data/clean_location_data/32X.csv
Finished 32X.csv

bus_data/clean_location_data/33.csv
Finished 33.csv

bus_data/clean_location_data/33A.csv
Finished 33A.csv

bus_data/clean_location_data/33B.csv
Finished 33B.csv

bus_data/clean_location_data/33X.csv
Finished 33X.csv

bus_data/clean_location_data/37.csv
Finished 37.csv

bus_data/clean_location_data/38.csv
Finished 38.csv

bus_data/clean_location_data/38A.csv
Finished 38A.csv

bus_data/clean_location_data/38B.csv
Finished 38B.csv

bus_data/clean_location_data/39.csv
Finished 39.csv

bus_data/clean_location_data/39A.csv
Finished 39A.csv

bus_data/clean_location_data/4.csv
Finished 4.csv

bus_data/clean_location_data/40.csv
Finished 40.csv

bus_data/clean_location_data/40B.csv
Finished 40B.csv

bus_data/clean_location_data/40D.csv
Finished 40D.csv

bus_data/clean_location_data/41.csv
Finished 41.csv

bus_data/clean_location_data/41A.csv
Finished 41A.csv

bus_data/clean_location_data/41B.csv
Finished 41B.csv

bus_data/clean_location_data/41C.csv
Finished 41C.csv

bus_data/clean_location_data/41X.csv
Finished 41X.csv

bus_data/clean_location_data/42.csv
Finished 42.csv

bus_data/clean_location_data/43.csv
Finished 43.csv

bus_data/clean_location_data/44.csv
Finished 44.csv

bus_data/clean_location_data/44B.csv
Finished 44B.csv

bus_data/clean_location_data/45A.csv
Finished 45A.csv

bus_data/clean_location_data/46A.csv
Finished 46A.csv

bus_data/clean_location_data/46E.csv
Finished 46E.csv

bus_data/clean_location_data/47.csv
Finished 47.csv

bus_data/clean_location_data/49.csv
Finished 49.csv

bus_data/clean_location_data/51D.csv
Finished 51D.csv

bus_data/clean_location_data/51X.csv
Finished 51X.csv

bus_data/clean_location_data/53.csv
Finished 53.csv

bus_data/clean_location_data/54A.csv
Finished 54A.csv

bus_data/clean_location_data/56A.csv
Finished 56A.csv

bus_data/clean_location_data/59.csv
Finished 59.csv

bus_data/clean_location_data/61.csv
Finished 61.csv

bus_data/clean_location_data/63.csv
Finished 63.csv

bus_data/clean_location_data/65.csv
Finished 65.csv

bus_data/clean_location_data/65B.csv
Finished 65B.csv

bus_data/clean_location_data/66.csv
Finished 66.csv

bus_data/clean_location_data/66A.csv
Finished 66A.csv

bus_data/clean_location_data/66B.csv
Finished 66B.csv

bus_data/clean_location_data/66X.csv
Finished 66X.csv

bus_data/clean_location_data/67.csv
Finished 67.csv

bus_data/clean_location_data/67X.csv
Finished 67X.csv

bus_data/clean_location_data/68.csv
Finished 68.csv

bus_data/clean_location_data/68A.csv
Finished 68A.csv

bus_data/clean_location_data/69.csv
Finished 69.csv

bus_data/clean_location_data/69X.csv
Finished 69X.csv

bus_data/clean_location_data/7.csv
Finished 7.csv

bus_data/clean_location_data/70.csv
Finished 70.csv

bus_data/clean_location_data/747.csv
Finished 747.csv

bus_data/clean_location_data/75.csv
Finished 75.csv

bus_data/clean_location_data/76.csv
Finished 76.csv

bus_data/clean_location_data/76A.csv
Finished 76A.csv

bus_data/clean_location_data/77A.csv
Finished 77A.csv

bus_data/clean_location_data/79.csv
Finished 79.csv

bus_data/clean_location_data/79A.csv
Finished 79A.csv

bus_data/clean_location_data/7B.csv
Finished 7B.csv

bus_data/clean_location_data/7D.csv
Finished 7D.csv

bus_data/clean_location_data/8.csv
Finished 8.csv

bus_data/clean_location_data/83.csv
Finished 83.csv

bus_data/clean_location_data/83A.csv
Finished 83A.csv

bus_data/clean_location_data/84.csv
Finished 84.csv

bus_data/clean_location_data/84A.csv
Finished 84A.csv

bus_data/clean_location_data/84X.csv
Finished 84X.csv

bus_data/clean_location_data/9.csv
Finished 9.csv

Finished main!

In [ ]:
read_directory = "bus_data/clean_location_data"
write_directory = "bus_data/clean_data_final"
weather_file = "bus_data/hourly_weather_data.csv"

In [ ]:
df = read_data

In [26]:
line = "15"

In [27]:
# Read in our data
df = pd.read_csv("bus_data/clean_data_final/" + line + ".csv", low_memory=False)

In [28]:
df.head()

,Unnamed: 0,Timestamp,LineID,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,VehicleID,StopID,AtStop,HumanTime,Day,Hour,JourneyGroup,Runtime,Date,Rain
0,0,1352182204000000,15,1,2012-11-06,5899,-6.151132,53.402328,33498,6318,0,2012-11-06 06:10:04,1,6,2012-11-065899,0,2012-11-06,0
1,1,1352192390000000,15,1,2012-11-06,5828,-6.150883,53.402351,33523,6318,1,2012-11-06 08:59:50,1,8,2012-11-065828,0,2012-11-06,0
2,2,1352192858000000,15,1,2012-11-06,5835,-6.150987,53.402309,33254,6318,1,2012-11-06 09:07:38,1,9,2012-11-065835,0,2012-11-06,0
3,3,1352193393000000,15,1,2012-11-06,5853,-6.150987,53.402309,33209,6318,1,2012-11-06 09:16:33,1,9,2012-11-065853,0,2012-11-06,0
4,4,1352194244000000,15,1,2012-11-06,5878,-6.151132,53.402328,33020,6318,0,2012-11-06 09:30:44,1,9,2012-11-065878,0,2012-11-06,0

In [29]:
# read in weather data

weather = pd.read_csv("bus_data/hourly_weather_data.csv", low_memory=False)
#Read in the data from a csv file using Pandas
weather.tail()

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
86611,30-jun-2017 20:00,0,0.0,0,13.4,0,10.7,8.0,10.7,69,1016.5
86612,30-jun-2017 21:00,0,0.0,0,11.4,0,10.0,8.5,11.1,82,1017.2
86613,30-jun-2017 22:00,0,0.0,0,9.7,0,8.8,7.7,10.5,87,1017.6
86614,30-jun-2017 23:00,0,0.0,0,8.2,0,7.8,7.2,10.1,93,1017.9
86615,01-jul-2017 00:00,0,0.0,0,8.2,0,7.8,7.2,10.2,93,1018.2

### Weather Info

Station Name: PhoenixPark
Station Height: 48 M 
Latitude:53.358  ,Longitude: -6.342


date:  -  Date and Time (utc)
rain:  -  Precipitation Amount (mm)	  
temp:  -  Air Temperature (C)	
wetb:  -  Wet Bulb Temperature (C)
dewpt: -  Dew Point Temperature (C)
vappr: -  Vapour Pressure (hPa)		                 
rhum:  -  Relative Humidity (%) 
msl:   -  Mean Sea Level Pressure (hPa)
ind:   -  Indicator

In [30]:
weather['datetime'] = pd.to_datetime(weather['date'])

In [31]:
weather.head()

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl,datetime
0,31-may-2007 01:00,-1,,4,,4,,,,,,2007-05-31 01:00:00
1,31-may-2007 02:00,-1,,4,,4,,,,,,2007-05-31 02:00:00
2,31-may-2007 03:00,-1,,4,,4,,,,,,2007-05-31 03:00:00
3,31-may-2007 04:00,-1,,4,,4,,,,,,2007-05-31 04:00:00
4,31-may-2007 05:00,-1,,4,,4,,,,,,2007-05-31 05:00:00

In [17]:
weather['Hour'] = weather['datetime'].dt.hour
weather['Date'] = weather['datetime'].dt.date
weather = weather.drop(['datetime'], axis=1)

In [18]:
# Dropping everything we don't want from weather 

weather = weather[['Date', 'Hour', 'rain']]

In [20]:
weather.tail()

             Date  Hour rain
86611  2017-06-30    20  0.0
86612  2017-06-30    21  0.0
86613  2017-06-30    22  0.0
86614  2017-06-30    23  0.0
86615  2017-07-01     0  0.0

## Merging data & weather

In [22]:
df['Date'] = pd.to_datetime(df['Timestamp'], unit='us')
df['Date'] = df['Date'].dt.date

In [23]:
# replacing empty cells with 0, converting to float
weather['rain'] = pd.to_numeric(weather['rain'], errors='coerce')
weather['rain'].fillna(0, inplace=True)

In [24]:
# Merging rain info with bus data
new_df = pd.merge(df, weather, how='left' , on=['Date','Hour'])

In [25]:
new_df.head()

,Unnamed: 0,Timestamp,LineID,JourneyPatternID,TimeFrame,VehicleJourneyID,Lon,Lat,VehicleID,StopID,AtStop,HumanTime,Day,Hour,JourneyGroup,Runtime,Date,Rain,rain
0,0,1352182204000000,15,1,2012-11-06,5899,-6.151132,53.402328,33498,6318,0,2012-11-06 06:10:04,1,6,2012-11-065899,0,2012-11-06,0,0.0
1,1,1352192390000000,15,1,2012-11-06,5828,-6.150883,53.402351,33523,6318,1,2012-11-06 08:59:50,1,8,2012-11-065828,0,2012-11-06,0,0.0
2,2,1352192858000000,15,1,2012-11-06,5835,-6.150987,53.402309,33254,6318,1,2012-11-06 09:07:38,1,9,2012-11-065835,0,2012-11-06,0,0.0
3,3,1352193393000000,15,1,2012-11-06,5853,-6.150987,53.402309,33209,6318,1,2012-11-06 09:16:33,1,9,2012-11-065853,0,2012-11-06,0,0.0
4,4,1352194244000000,15,1,2012-11-06,5878,-6.151132,53.402328,33020,6318,0,2012-11-06 09:30:44,1,9,2012-11-065878,0,2012-11-06,0,0.0